@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

#root {
  min-height: 100dvh;
  background: radial-gradient(
    circle,
    #05023d 0%,
    #090979 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Inter", sans-serif;
}

@theme {
  --color-black: #212427;
  --color-lose-screen: #1515155c;
  --animate-number: number-time 0.2s ease-in-out;

  @keyframes number-time {
    0% {
      transform: scale(1.1);
    }
  }
}

[data-game-table],
[data-game-options],
[data-options] {
  @apply rounded-3xl bg-orange-200;
}
